/* 
CSS Prototype for Tree of Hippocrates Education Studio Lighting Control Interface
Author: Bryan Hull
Date: December 2020 
*/

/* BASICS */

body{
background-color:#1a1a1a;
background-repeat: no-repeat;
background-position: top;
-ms-background-size: cover;
-o-background-size: cover;
-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
}

img {
	padding: 4px;
}

/* TEXT */

body, input, select, textarea {
color: #ffffff;
font-family: "Josefin Sans", sans-serif;
font-weight: 300;
line-height: 1.65;
letter-spacing: 2px;
}

h1, h2, h3, h4, h5{
color: #ffffff;
text-transform: uppercase;
font-weight: 500;

}

p {
	font-size: 1.25rem;
}

a{
color: inherit;
text-decoration: none;
}

a:hover {
color: inherit;
text-decoration: none;
}


/* CONTAINER-ROW-COLUMN ELEMENTS */

.border-container {
	border-bottom-style: dotted;
	border-width: 2px;
	border-color: #333333;
	padding: 25px 0px 25px 0px;
}

.container {
	width: 60%;
	text-align: center;
}

.row {
	flex-direction: column;
}

#site-header {
	text-align: center;
}

#button-row {
	flex-direction: row;
}

#footer{
text-transform: uppercase;
text-align: center;
padding: 10px 0px 10px 0px
}

/*** ICON COLORS ***/

.fas {
	color: #ac162c;
}


/*** BUTTONS ***/

.button:link{
position: relative;
display: block;
font-weight: 600;
color: #ffffff;
text-decoration: none;
margin: 10px;
border: 4px solid #ffffff;
padding: 15px 80px;
text-transform: uppercase;
overflow: hidden;
transition: 0.25s all ease;
}
.button:hover{
position: relative;
background-color: #ffffff;
display: block;
font-weight: 600;
color: #ac162c;
text-decoration: none;
margin: 10px;
border: 4px solid #ffffff;
padding: 15px 80px;
text-transform: uppercase;
overflow: hidden;
transition: 0.25s all ease;
}

.button:active {
position: relative;
background-color: #ffffff;
display: block;
font-weight: 600;
color: #ac162c;
text-decoration: none;
margin: 10px;
border: 4px solid #ffffff;
padding: 15px 80px;
text-transform: uppercase;
overflow: hidden;
transition: 0.25s all ease;
}


/*** HOVER GRADIENT BACKGROUND ***/

.magic-lights {
  background-image: linear-gradient(-90deg, rgba(253,255,238,1) 0%, rgba(230,208,63,1) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 100%;
  transition: background-size 0.25s ease-in;
}
.magic-lights:hover {
    background-size: 100% 100%;
  }


/*** SLIDER CONTROL ***/

.slidecontainer {
  width: 60%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ac162c;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ac162c;
  cursor: pointer;
}

.slider2 {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider2:hover {
  opacity: 1;
}

.slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ac162c;
  cursor: pointer;
}

.slider2::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ac162c;
  cursor: pointer;
}

